{% extends "HungryApp/base.html" %}
{% block title %}:: Add a Food Item {% endblock %}


{% block navigation %}
<li class="active"><a href="/restaurants">Restaurants</a></li>
<li><a href="#contact">Contact</a></li>
<li><a href="/account">My Account</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock %}


{% block content %}
</br></br>
</br></br>


<body>
<p>
<form enctype="multipart/form-data" action="{% url 'add_fooditem' id %}" method="post">
<table>
{{form}}
</table>
<input type="submit" value="Add food-item">
{% csrf_token %}
</form>
<a href="{% url 'display_fooditems' id %}"><button>Cancel</button></a>
</p>


{%endblock%}
</body>
</html>
