{% extends "HungryApp/base.html" %}
{% block title %}:: Add a Food Item {% endblock %}


{% block navigation %}
<li class="active"><a href="/restaurants">Restaurants</a></li>
<li><a href="#contact">Contact</a></li>
<li><a href="/account">My Account</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock %}


{% block content %}
</br></br>
<body>
<p>
<!--
<div class="embossed">
        <h2>Running Outta Time? &nbsp;&nbsp;&nbsp;<em></em></h2>
      </div>
        
        <form action="{% url 'filterbypreptime' %}" method="get"> 
        <label for="id_q">Filter by Preparation Time(Enter time in Minutes):</label>
        <input id="id_q" name="prep_time_query" type="text">
        <input type="submit" value="Submit">


</p>  -->


<li> <a href="{% url 'add_fooditem' pk %}">ADD A FOOD ITEM</a>          
<p>
-->
<br></br>
<br></br>
Restaurant Menu: 
<ul>
{% for food_item in food_items %}
   
           <!--   {% if food_item.picture %}
                <img src="{% url 'fooditem_photo' food_item.id %}" class="img-thumbnail" height="160px" width="160px">
              {% endif %} -->
  <li> <a href="{% url 'edit_fooditem' food_item.id %}">{{food_item}}</a>
  
  <form action="{% url 'add_order_to_cart' food_item.id %}" method="post">
        
  <div class="form-group"> 
                  <input class="btn-success" type="submit" value="Add to Order Cart" /><br>
                  </li>

                </div>
{% endfor %}
</ul>
</p>

<!--
</form>
{% for ordered_food_item in ordered_food_items %}
        <div class="">
            <span class = "Remove_from_order"> <a href="{% url 'remove_food_item_from_order' ordered_food_item.id}}"> Delete </a></span>
            <span class = "Ordered_Food_Item"> {{ ordered_food_item }}</span>
            <span class = "Ordered_Food_Item_Price"> {{ ordered_food_item.price }}  </span>   
        </div>
{% endfor %}  -->

{% if ordered_food_item %}
<ul>
<li>{{ ordered_food_item }} &nbsp;&nbsp;&nbsp;Price:${{ ordered_food_item.price }}</li>
</ul>

<a class="pull-left btn btn-primary" href="{% url 'place_order' %} "> Confirm Order </a><br>
{% endif %}


{%endblock%}
</body>
</html>
