{% extends "HungryApp/base.html" %}
{% block navigation %}
<li><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
<li><a href="#contact">Contact</a></li>
{% endblock %}
{% block content %}
</br></br>
<div class="container">    
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          </br>
          <div class="embossed">
            <h2>Congrats!</h2>
          </div>
          <div class="content-well">
            <p>
            Thank you for confirming your email address.
            Please <a href="{% url 'django.contrib.auth.views.login' %}">login</a> to get started ordering food!!
            </p>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

