{% extends "HungryApp/base.html" %}
{% block title %}:: Confirm Account{% endblock %}
{% block navigation %}
<li class="active"><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
<li><a href="#contact">Contact</a></li>
{% endblock %}
{% block content %}
</br></br>
<div class="container">    
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          </br></br></br>
          <div class="alert alert-info">  
            <h3>Confirm Email&nbsp; <span class="glyphicon glyphicon-send"></span></h3>
            </br>
            <div class="indent">
              <p>
                A confirmation email has been sent to <strong>{{email}}</strong>.  Please click the link
                in that email to confirm your request!
              </p>
            </div>
            </br>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
