{% extends "HungryApp/base.html" %}
{% block title %}:: Success{% endblock %}
{% block navigation %}
<li class="active"><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
<li><a href="#contact">Contact</a></li>
{% endblock %}
{% block content %}
</br></br>
<div class="container">    
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="embossed">
            <h2>Success! <small>[now let's get back to food]</small></h2>
          </div>
          <div class="content-well">
            <p>
            Your password has been changed successfully!
            Please <a href="{% url 'django.contrib.auth.views.login' %}">login</a> using your new password.
            </p>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}