{% extends "HungryApp/base.html" %}
{% block title %}:: Success{% endblock %}
{% block navigation %}
<li class="active"><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
<li><a href="#contact">Contact</a></li>
{% endblock %}
{% block content %}
</br></br>
<div class="container">    
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          </br></br></br>
          <div class="alert alert-success">
            <h3>Success&nbsp; <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;&nbsp;<small><em>[now let's get back to food]</em></small></h3>
            </br></br>
            <div class="indent">
              <p>
              Your password has been changed successfully!
              Please <a href="{% url 'django.contrib.auth.views.login' %}">login</a> using your new password.
              </p>
            </div>
            </br>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}