{% extends "HungryApp/base.html" %}
{% block title %}:: Reset Password{% endblock %}
{% block navigation %}
<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</div><!--/.nav-collapse -->
{% endblock %}
{% block content %}
<body>
  {% for error in form.non_field_errors %}
  <p style="color: red">
  {{ error }}
  </p>
  {% endfor %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <h3>Enter Your Username, Old Password and New Password Here:</h3></br></br>
            <form role="form" method="post" action="">
              {% include 'HungryApp/form_loop.html' %}
              <div class="indent form-group">
                <input class="btn btn-success btn-lg" type="submit" value="Reset Password" />
              </div>
            </form>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</body>
{%endblock%}
