{% extends "HungryApp/base.html" %}
{% block title %}:: Restaurants{% endblock %}
{% block head %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP5sX9n0VBg49243_ntCnlj6vJDXchNzA&amp;sensor=true">
</script>
<script type="text/javascript">
  var cmu = new google.maps.LatLng(40.442832, -79.942585);
  var ctr = new google.maps.LatLng(40.442832, -79.942585);
  var map;
  var locs = [];

  function initialize() {
    var mapOptions = {
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      center: ctr
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    
    $.getJSON(
        '/get-restaurants-json', 
        function(data) {
          
          for (i = 0; i < data.length; i++) {
            var restName = data[i].fields.restaurant_name;
            $.getJSON(
                '/get-location-marker-json/' + data[i].fields.location,
                
                function(coords) {
                  contentString = "<div><strong>" + restName + "</strong></br>" + coords.markerTitle + "</div>";
                  var infowindow = new google.maps.InfoWindow({
                      content: contentString
                  });
                  pos = new google.maps.LatLng(coords.latitude, coords.longitude);
                  var marker = new google.maps.Marker({
                    map:map,
                    draggable:false,
                    position:pos,
                    title: coords.markerTitle
                  });
                  google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map,marker);
                  });
                }
            );
          }
        }
    );
  }
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>
{% endblock %}
{% block navigation %}
<li class="active"><a href="/restaurants">Restaurants</a></li>
<li><a href="#contact">Contact</a></li>
<li><a href="/account">My Account</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock %}
{% block content %}
</br></br>
<div class="container">    
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          </br></br></br></br>
          <form action="/HungryApp/search" method="get">
            <label for="id_q">Search by Restaurant Name:</label>
            <input id="id_q" name="q" type="text">
            <input type="submit" value="Submit">
          </form>
          </br>
          <div id="map-wrapper">
            <div id="map-canvas"></div>
          </div>
          {% for r in restaurants %}
          <div id="{% }" class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><a href="{% url 'display_fooditems' r.id %}">{{r.restaurant_name}} {{r.id}}</a></h3>
            </div>
            <div class="panel-body">
              </br>
              <div class="row">
                <div class="col-md-4">
                {% if r.restaurant_picture %}
                  <img src="{% url 'restaurant-picture' r.id %}" alt="{{ r.restaurant_name }}" class="img-thumbnail" height="320px" width="320px">
                  </br>
                {% endif %}
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <p>RESTAURANT INFO HERE</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}