{% extends "HungryApp/base.html" %}
{% block title %}:: Restaurants{% endblock %}
{% block navigation %}
<li class="active"><a href="/restaurants">Restaurants</a></li>
<li><a href="#contact">Contact</a></li>
<li><a href="/account">My Account</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock %}
{% block content %}
</br></br>
<div class="container">    
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

        <br></br>

        <form action="/HungryApp/search" method="get">
        <label for="id_q">Search by Restaurant Name:</label>
        <input id="id_q" name="q" type="text">
        <input type="submit" value="Submit">
           
       

          

        </form>

          {% for r in restaurants %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><a href="{% url 'display_fooditems' r.id %}">{{r.restaurant_name}} {{r.id}}</a></h3>
            </div>
            <div class="panel-body">
              </br>
              <div class="row">
                <div class="col-md-4">
                {% if r.restaurant_picture %}
                  <img src="{% url 'restaurant-picture' r.id %}" alt="{{ r.restaurant_name }}" class="img-thumbnail" height="320px" width="320px">
                  </br>
                {% endif %}
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <p>RESTAURANT INFO HERE</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}