{% extends "HungryApp/base.html" %}
{% block title %}:: Registration{% endblock %}
{% block navigation %}
<li><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
<li><a href="#contact">Contact</a></li>
{% endblock %}
{% block content %}
<br>
{% for error in form.non_field_errors %}
<p style="color: red">
{{ error }}
</p>
{% endfor %}
</br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      </br></br>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-9">
          <div class="outdent embossed">
            <h2><span class="glyphicon glyphicon-bookmark"></span> Student Registration</h2>
          </div>
          </br></br>
          <div class="form-section">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-5 embossed pull-right">
                <h4>Satisfy your hunger.&nbsp;&nbsp;&nbsp;<em>Its Free&nbsp;!!</em></h4>
              </div>
              <div class="col-md-1"></div>
            </div>
            </br></br></br>
            <form class="form-horizontal" role="form" method="post" action="/register" class="indent btm-marg">
              <div class="form-group">
                {{ form.first_name.errors }}
                <label class="col-md-2 control-label" for="inputFirstName">First Name</label>
                <div class="col-md-3">
                  {{ form.first_name }}
                </div>
                {{ form.last_name.errors }}
                <label class="col-md-2 control-label" for="inputLastName">Last Name</label>
                <div class="col-md-3">
                  {{ form.last_name }}
                </div>
              </div>
              </br>
              <div class="form-group">  
                {{ form.gender.errors }}
                <label class="col-md-2 control-label" for="inputGender">Gender</label>
                <div class="col-md-3">
                  {{ form.gender }}
                </div>
                {{ form.date_of_birth.errors }}
                <label class="col-md-2 control-label" for="inputBirthday">Date of Birth</label>
                <div class="col-md-3">
                  {{ form.date_of_birth }}
                </div>
                </br></br></br>
                {{ form.student_year.errors }}
                <label class="col-md-2 control-label" for="inputStudentYear">Enrollment</label>
                <div class="col-md-3">
                  {{ form.student_year }}
                </div>
              </div>
              </br>
              <div class="form-group">
                {{ form.username.errors }}
                <label class="col-md-2 control-label" for="inputUsername">Username</label>
                <div class="col-md-3">
                  {{ form.username }}
                </div>
                {{ form.email.errors }}
                <label class="col-md-2 control-label" for="inputEmail">Email</label>
                <div class="col-md-3">
                  {{ form.email }}
                </div>
              </div>
              </br></br>
              <div class="indent" style="margin-left: 70px; margin-top: 30px;">
                  <button type="submit" class="btn btn-primary btn-lg">&nbsp;&nbsp;Register&nbsp;&nbsp; <span class="glyphicon glyphicon-list-alt"></span></button>
              </div>
              </br>
              {% csrf_token %}
            </form>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      </br></br>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
