{% extends "HungryApp/base.html" %}
{% block title %}:: {{ r.restaurant_name }}{% endblock %}
{% block navigation %}

{% if is_admin %}
{% include 'HungryApp/admin_nav.html' %}
{% else %}
{% include 'HungryApp/student_nav.html' %}
{% endif %}

{% endblock %}
{% block content %}
{% load staticfiles %}
</br></br>
{% for error in form.non_field_errors %}
<p style="color: red">
{{ error }}
</p>
{% endfor %}
</br></br></br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
          <!-- TODO: CSS styling for cleaner spacing -->
          </br></br></br></br>
          {% if r.restaurant_picture %}
            <img src="{% url 'restaurant-picture' r.id %}" alt="{{ r.restaurant_name }}" class="img-thumbnail" height="320px" width="320px">
          {% else %}
            <img src="{% static 'pics/no-image.png' %}" class="img-thumbnail" height="220px" width="220px">
          {% endif %}
        </div>
        <div class="col-md-5">
          <div class="embossed">
            <h2>{{ r.restaurant_name }}</h2>
          </div>
          <div class="content-well">
            {% if r.has_vegetarian %}
            <p><strong>Vegetarian Friendly:</strong>&nbsp; <span style="color: green;" class="glyphicon glyphicon-ok"></span></p>
            {% else %}
            <p><strong>Vegetarian Friendly:</strong>&nbsp; <span style="color: red;" class="glyphicon glyphicon-remove"></span></p>
            {% endif %}
            <p><strong><span class="glyphicon glyphicon-phone-alt"></span></strong>&nbsp; {{ r.phone }}</p>
            <p><strong><span class="glyphicon glyphicon-map-marker"></span> Location:</strong>&nbsp; {{ r.location }}</p>
            </br>
            {% include 'HungryApp/restaurant_hours.html' %}
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"> <a href="{% url 'display_fooditems' r.id %}"> Menu </h3>
            </div>
            <div class="panel-body">
              <p>TODO: FOOD ITEMS HERE</p>
              {% for i in items %}
              {% endfor %}
            </div>
        </div>
        <div class="col-md-2"></div>
      </div>  
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}