{% extends "HungryApp/base.html" %}
{% block title %}:: Registration{% endblock %}
{% block navigation %}
<li><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
<li><a href="#contact">Contact</a></li>
{% endblock %}
{% block content %}
<br>
{% for error in form.non_field_errors %}
<p style="color: red">
{{ error }}
</p>
{% endfor %}
</br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          </br></br>
          <div class="embossed">
            <h2>Employee Registration [TODO: Update form fields]</h2></br></br>
          </div>
          <form role="form" method="post" action="{% url 'register-employee' username token %}" class="indent btm-marg">
            {% include "HungryApp/form_loop.html" %}
            <div class="form-group pull-right">
              <button type="submit" class="btn btn-primary btn-lg">&nbsp;Register&nbsp;</button>
            </div>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
