{% extends "HungryApp/base.html" %}
{% block navigation %}
<li class="active"><a href="/restaurants">Restaurants</a></li>
<li><a href="#contact">Contact</a></li>
<li><a href="/account">My Account</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock %}
{% block content %}
</br></br>
<div class="container">    
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          </br></br></br>
            

          

          {% for order in orders %} 
          <div class="">
             
           



            <span class = "Student Name"> {{ order.student_id.user.username }}</span>
              
        </div>
                {% for food_item in order.food_items_inorder.all %}
         <div class="">
            
            <span class = "Ordered_Food_Items"> {{ food_item }}</span>
            <span class = "Ordered_Food_Item_Price"> {{ food_item.price }} {{order.id}} </span>   
        </div>
           {% endfor %}

           <a class="pull-left btn btn-primary" href="{% url 'accept_order' order.id %} "> Accept_Order </a><br>
           <a class="pull-left btn btn-primary" href="{% url 'cancel_order' order.id %} "> Cancel_Order </a><br>

           </br></br></br></br>
        {% endfor %}
{% endblock %}